@CHARSET "UTF-8";

.dimmed {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(64, 64, 64);
    margin: 0 0;
    position: fixed;
    background: rgb(34, 34, 34);
}

#header_center {
    width: 70%;
	margin: 0 auto;
}

#section {
    width: 100%;
    top: 52px;
    bottom: 0;
    position: absolute;
    /* background-image: url('/web/image/background.jpg'); */
    background: #3e2723;
    overflow-y: scroll;
}

#section_left {
    width: 15%;
    height: 100%;
    float: left;
}

#section_center {
    width: 70%;
	margin: 0 auto;
}

.center {
	margin: 0 auto;
}